/* Document settings */

*{
    scroll-margin-top: 40px;
    margin: 0;
    line-height: 30px;
}

/* UNIVERSAL FONTS AND STYLES */


h1 {
    font-family: sans-serif;
    
    font-size: 35px;
    white-space: nowrap;
}

h2 {
    font-family: sans-serif;
    white-space: nowrap;
}

p {
    font-family: sans-serif;

    font-size: large;
}

/* HEADER */

header {
    top:0;
    z-index: 1;
    background-color: rgba(255, 255, 255);
    border-bottom: 1px solid;
    border-color: lightgray;
    width: 100%;
    position: fixed;
    min-height: 50px;  
}

#titleName {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 40px;
    min-height: 50px;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.navigation {
    display: flex;
    align-items: center;
    float: right;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: flex;
    align-items: center;
    float: right;
    min-height: 50px;
    margin: 0;
}

.navigation a li:hover{
    color: rgb(80, 80, 255);
}

.navigation a li{
    font-size: 20px;
    font-family: sans-serif;
    color: gray;
    display: table;
    padding: 0px 50px;
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    top: .9rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}

/* ABOUT PAGE */

#about {
    margin-top: 50px;
    height: 100%;
    background-color: #002035;
}

.aboutDiv {
    margin: auto;
    display: flex;
    color: white;
    gap: 50px;
    padding: 40px;
    width: 80%;
}

#profilePic {
    border-style: solid;
}

#profileInfo { 
    display: inline;
    text-align: center;
    padding: 20px;
}

.aboutDiv h1 {
    margin: 10px;
}

.aboutDiv p {
    margin: 10px;
}

.about2 {
    display: flex;
}

.education {
    margin-left: 100px;
}

/* TEACHING PAGE */

#Teaching {
    height: 100%;
    background-color: rgb(33, 59, 83);
}

.teachingDiv {
    width: 80%;
    padding: 40px;
    margin: auto;
    color: white;
}

.teachingDiv li {
    font-size: large;
    margin: 10px;
}

.teachingDiv h1 {
    margin: 10px;
}

.teachingDiv p {
    margin: 10px;
}

/* RESEARCH PAGE */

#Research {
    width: 100%;
    background-color: #002035;
}

.researchDiv {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin: auto;
    width: 80%;
    padding: 40px;
}

.researchDiv h1 {
    color: white;
    width: 20%;
    flex: 1;
}

.researchList li {
    color: lightblue;
    list-style-type: none;
    padding: 20px;
}

.researchList li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.researchList {
    flex: 4;
}

.researchItem {
    color:black;
    margin-bottom: 50px;
    color: white;
}

.researchItem * {
    margin-top: 5px;
}

/* PUBLICATION PAGE */

#publications {
    width: 100%;
    background-color: rgb(33, 59, 83);
}

.publicationDiv {
    margin: auto;
    width: 80%; 
    padding: 40px;
}

.publicationDiv h1 {
    color: white;
    width: 20%;
    flex: 1;
    margin-bottom: 20px;
}

.publicationList li {
    color: lightblue;
    list-style-type: none;
}

.publicationList li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.publicationList {
    flex: 4;
}

.publicationItem {
    color:black;
    margin-bottom: 20px;
    color: white;
}

/* SCALINGS */

@media (max-width: 1000px) {
    /* NAVIAGTION */

    .toggle-button {
        display: flex;
    }

    .toggle-button:hover *{
        background-color: blue;
    }

    .navigation a {
        width: 100%;
        min-height: 100px;
    }

    .navigation {
        opacity: 0;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        height: 0px;
        transition: height 200ms ease-in-out;
    }

    .navigation a li {
        padding: 10px;
    }

    .navigation.active {
        opacity: 1;
        height: 400px;
        transition: height 200ms ease-in-out;
    }
    
    #titleName {
        margin-left: 0;
        float: none;
        justify-content: center;
        min-height: 50px;  
    }

    /* MAIN DIVS */

    .researchDiv {
        display: grid;
        gap: 20px;
    }

    .aboutDiv {
        display: grid;
    }

    .publicationDiv {
        display: grid;
    }

    .publicationItem {
        display: grid;
    } 
}